Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [109]:
from functools import reduce

In [110]:
def addition(a,b):
  return a+b

In [111]:
def myreduce(fun,sequence):
  result=sequence[0]
  for i in range(1,len(sequence)):
    result=addition(result,sequence[i])
  return result

In [112]:
print('addition using myreduce function:',myreduce(addition,[5,10,3,4]))
print('additon using in built reduce function:',reduce(addition,[5,10,3,4]))

addition using myreduce function: 22
additon using in built reduce function: 22

Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [113]:
def is_even(a):
  if a%2==0:
    return True
  else:
    return False

In [114]:
def myfilter(function,sequence):
  even=[]
  for i in sequence:
   check=is_even(i)
   if check==True:
      even.append(i)
  return even

In [115]:
print('check if number is even using myfilter:',myfilter(is_even,[2,4,6,8.7]))

check if number is even using myfilter: [2, 4, 6]

In [116]:
#using in built function
f=filter(is_even,[2,4,6,8.7])
for i in f:
  print(i)

2
4
6

Implement List comprehensions to produce the following lists.Write List comprehensions to produce the following Lists.
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [117]:
#['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] 
result=[i*j for j in ['x','y','z'] for i in range(1,5)]
print(result)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [118]:
#['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
result=[i*j for i in range(1,5) for j in ['x','y','z'] ]
print(result)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [119]:
#[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
result=[[i+j] for i in [2,3,4] for j in range(3)]
print(result)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [120]:
#[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]
list1=[2,3,4,5]
result=[[i+j for i in list1]for j in range(4)]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [121]:
#[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
result=[(i,j) for j in range(1,4) for i in range(1,4)]
print(result)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]